@font-face {
    font-family: 'Gotham'; /* Define the font family name */
    src: url('Gotham-Black.otf') format('otf'); /* Specify the path to the font files */
} 
    /* You can add other font weights and styles if you have them */

* {
    font-family: 'Gotham',sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(img/photo1.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 70px;
    
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(117, 33, 47);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
}
.A{
    color: red;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(88, 17, 28);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.editbutton{
    background: rgb(88, 17, 28);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover .editbutton{
    width: 100%;
}
button:hover{
    border: none;
}

/* about */
.about{
    display: flex;
    height: 400px;
}
.row1{
    /* width: 50%; */
    padding: 0px 0px 0px 150px; /*top right bottom left*/
}
.row1 img{
    width: 450px;
    height: 350px;
}
.row2 {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 50px;
}
.row2 h1{
    font-size: 60px;
    margin-bottom: 30px;
    text-align: center;
}
/* dgroup*/
.dgroup{
    display: flex;
    height: 300px;
}