* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgb(162, 72, 87);
}
header{
    width: 100%;
    height: 75px;
    background-color: rgb(0, 0, 0);
    display: flex;   
    
}
.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: rgba(15, 177, 213, 0.441); */
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 26px 20px;
}
.navigation a:last-child{
    padding-right: 0;
}


.navigation a li{
    font-weight: bold;
    color: rgb(237, 133, 148);
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 18px;
}

/* CSS FOR CONTENT */
.content{
    margin-top: 520px;
    background-color: rgb(246, 246, 246);
    width: 90%;
    height: 1600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 100px 20px 100px rgba(3, 3, 3, 0.151), 30px 0 50px rgba(0, 0, 0, 0.4);
}
.white_box{
    padding: 80px;
}